<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
        <title>Personnel Details</title>
        <link href="../../../../../jet/libs/css/libs/oj/v6.0.0/alta/oj-alta-min.css"
              rel="stylesheet" type="text/css"/>
        <link href="../../../css/employeeWizard.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <div style= "margin-left:20px" role="group"  class="oj-form-control-group">
            <h1> Personnel Details</h1>

            <oj-label for="nameId">Name</oj-label>
            <oj-input-text id="nameId" value="{{nameValue}}"></oj-input-text>

            <oj-label for="phoneId">Mobile number</oj-label>
            <oj-input-text id="phoneId" value="{{phoneValue}}"></oj-input-text>


        </div>
    </body>
</html>